.header {
  background: linear-gradient(156deg, rgba(100,55,232,1) 0%, rgba(66,179,244,1) 100%);
  border: none!important;
  margin-bottom: 0;
  padding: 0.5rem 1rem;
  border-bottom: 2px solid rgba(255, 255, 255, 0.3);
  .logo {
    width: 5rem;
    cursor: pointer;
  }
  .navbar-toggler {
    border: 0;
    &:focus {
      outline: none;
    }
  }
  .menu {
    padding: 0.5rem 0.9rem;
    text-align: center;
    .link {
      color: white;
      padding-bottom: 0.25rem;
      text-decoration: none;
      font-weight: bold;
      font-size: 14px;
      &:hover {
        border-bottom: 1px solid white;
      }
      &.active {
        border-bottom: 1px solid white;
      }
    }
  }
}