$break-large: 991px;
$break-small: 576px;

.about {
  .logo {
    @media screen and (max-width: $break-small) {
      & {
        width: 50%;
      }
    }
    @media screen and (max-width: $break-large) {
      & {
        width: 50%;
      }
    }
    width: 15rem;
    margin: 4rem 0 1rem;
  }
  .landing-section {
    margin-bottom: 5rem;
    .heading {
      .title {
        font-weight: bold;
        margin: 4rem 0 3rem;
      }
      .vertical-text {
        font-size: 1rem;
        color: #121212;
        white-space: nowrap;
        letter-spacing: 2.35px;
        text-transform: uppercase;
        writing-mode: vertical-rl;
        transform: rotate(180deg);
        position: absolute;
        left: -1rem;
        @media screen and (max-width: $break-large) {
          & {
            display: none;
          }
        }
      }
    }
    .content {
      position: relative;
      .image {
        width: 100%;
      }
      .info {
        padding: 2rem;
        background-color: white;
        position: absolute;
        z-index: 20;
        bottom: 0;
        font-size: 1.25rem;
        max-width: 50%;
        @media screen and (max-width: $break-large) {
          & {
            padding: 1rem;
            font-size: 1rem;
            max-width: 100%;
            bottom: -2rem;
          }
        }
      }
    }
  }
  .who-section, .why-section, .what-section {
    position: relative;
    margin-bottom: 9rem;
    .image-container {
      .number {
        position: absolute;
        background-color: black;
        color: white;
        padding: 1rem;
      }
      .image {
        width: 50%;
        height: 25rem;
        @media screen and (max-width: $break-large) {
          & {
            width: 100%;
          }
        }
      }
      .vertical-text {
        font-size: 1rem;
        color: #121212;
        white-space: nowrap;
        letter-spacing: 2.35px;
        text-transform: uppercase;
        writing-mode: vertical-rl;
        transform: rotate(180deg);
        position: relative;
        top: -7.5rem;
        @media screen and (max-width: $break-large) {
          & {
            display: none;
          }
        }
      }
    }
    .info {
      width: 50%;
      padding: 2rem;
      position: absolute;
      bottom: 0;
      background-color: white;
      right: 3rem;
      @media screen and (max-width: $break-large) {
        & {
          width: 100%;
          right: 0;
          bottom: -5rem;
        }
      }
      .title {
        font-size: 2rem;
        font-weight: bold;
        margin: 1.5rem 0;
      }
      .content {
        color: #737373;
      }
      @media screen and (max-width: $break-small) {
        & {
          padding: 1rem;
        }
        .title {
          font-size: 1.5rem;
        }
      }
    }
  }
  .what-section {
    .image-container {
      text-align: right;
      .number {
        right: 0;
      }
    }
    .info {
      left: 3rem;
      right: 0;
      @media screen and (max-width: $break-large) {
        & {
          width: 100%;
          left: 0;
        }
      }
    }
  }
}