$break-small: 576px;

.footer {
  background-color: black;
  padding: 3rem 0;
  .logo-section {
    .logo {
      width: 60%;
    }
    .copyrights {
      opacity: 0.6;
      font-size: 14px;
      font-weight: normal;
      font-style: normal;
      margin: 10px 0;
      font-stretch: normal;
      line-height: 1.86;
      letter-spacing: normal;
      color: white;
      text-align: center;
    }
    @media screen and (max-width: $break-small) {
      .logo {
        width: 30%;
      }
      .copyrights {
        text-align: left;
      }
    }
  }
  .menu-title {
    font-size: 18px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: 2.22;
    letter-spacing: normal;
    color: white;
  }
  .menu-list {
    margin-bottom: 2rem;
  }
  .menu-item, .mail-link {
    opacity: 0.8;
    font-size: 16px;
    font-weight: normal;
    font-style: normal;
    -webkit-transition: all 300ms linear 0s;
    transition: all 300ms linear 0s;
    font-stretch: normal;
    line-height: 2;
    letter-spacing: normal;
    color: rgba(255, 255, 255, .5);
    display: block;
    text-decoration: none;
  }
}