.achievement-container {
  margin-bottom: 2rem;
  .tag-container {
    text-align: center;
  }
  .title {
    margin-bottom: 2rem;
  }
  .achievements {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .ticket {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    margin-right: 1rem;
    margin-bottom: 2rem;
    background-color: #ffffff;
    border-radius: 6px;
    min-height: 200px;
    -webkit-transition: all 300ms linear 0s;
    transition: all 300ms linear 0s;
    text-align: center;
    flex: 1;
    cursor: pointer;
    min-width: 10rem;
    .image-container {
      height: 10rem;
      // flex: 1;
      .image {
        margin: 1rem 0;
        width: 5rem;
      }
    }
    &:hover {
      -webkit-box-shadow: 0 0 24px rgba(91, 94, 222, 0.16);
      box-shadow: 0 0 24px rgba(91, 94, 222, 0.16);
    }
  }
}