.capabilities-container {
  margin-bottom: 4rem;
  .heading {
    font-size: 2.5rem;
    font-weight: bold;
    margin: 3rem 0 2rem;
  }
  .capability-slide {
    display: inline-block;
    width: 20rem;
    margin-bottom: 3rem;
    .slide-image-container {
      overflow: hidden;
      cursor: pointer;
      .slide-image {
        &:hover {
          transform: scale(1.2);
          max-width: 100%;
        }
        transition: all .5s;
      }
    }
    .content {
      .title {
        font-weight: bold;
        font-size: 1.25rem;
        margin-top: 1rem;
      }
      .description {
        font-size: 1rem;
        margin-top: 1rem;
      }
    }
  }
}