$break-large: 991px;
$break-small: 576px;

.empower-section {
  margin-bottom: 4rem;
  .desktop-view {
    padding: 0 10rem;
    .title {
      font-size: 2.5rem;
      font-weight: bold;
      margin: 3rem 0 2rem;
    }
    .empower-points-container {
      margin-bottom: 2rem;
      .empower-points {
        .dataset {
          display: flex;
          border-top: 1px solid #f5f5f5;
          &:last-child {
            border-bottom: 1px solid #f5f5f5;
          }
          .point-wrapper {
            flex: 1;
            border-left: 1px solid #f5f5f5;
            &:last-child {
              border-right: 1px solid #f5f5f5;
            }
            transition: background-color .5s;
            &:hover {
              background-color: #007dba22;
            }
            .point-container {
              padding: 2rem;
              cursor: pointer;
              .icon {
                text-align: right;
                padding: 1rem 0;
                .empower-icon {
                  width: 3.5rem;
                  height: 3.5rem;
                }
                .fast-icon {
                  width: 2.5rem;
                }
              }
              .empower-title {
                font-size: 1.75rem;
                font-weight: bold;
                margin-top: 8rem;
                word-break: break-word;
              }
              .empower-description {
                color: white;
                display: block;
                height: 3rem;
              }
              transition: transform .5s, background-color .5s;
              &:hover {
                background-color: #007dba;
                z-index: 5;
                transform: translateY(-15px) translateX(15px);
                -webkit-transform: translateY(-15px) translateX(15px);
                -moz-transform: translateY(-15px) translateX(15px);
                -o-transform: translateY(-15px) translateX(15px);
                .empower-icon {
                  filter: brightness(60%);
                }
                .empower-title {
                  color: white;
                }
              }
            }
          }
        }
      }
    }
  }
}

.empower-section {
  .mobile-view {
    .mobile-empower-points-container {
      .mobile-empower-points {
        .point-container {
          display: flex;
          .icon-section {
            flex: 1;
            padding: 2rem;
            background-color: #f7f7f7;
            .empower-icon {
              width: 3.5rem;
              height: 3.5rem;
            }
            .fast-icon {
              width: 2.5rem;
            }
          }
          .content {
            flex: 1;
            padding: 2rem;
            .empower-title {
              font-weight: bold;
              font-size: 1.5rem;
              word-break: break-word;
            }
          }
        }
      }
    }
  }
}

.empower-section {
  .desktop-view {
    display: block;
    @media screen and (max-width: $break-large) {
      & {
        display: none;
      }
    }
  }
  .mobile-view {
    display: none;
    @media screen and (max-width: $break-large) {
      & {
        display: block;
      }
    }
  }
}