@import './landing';
@import './empower';
@import './capabilities';
@import './achievement';

$break-large: 991px;
$break-small: 576px;

.home {
  .tag {
    background-color: rgba(92, 93, 232, 0.1);
    color: #5c5de8;
    border-radius: 100px;
    padding: 4px 14px;
    font-size: 12px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 1px;
    margin-bottom: 15px;
    display: inline-block;
    padding: 0.5rem 1rem;
  }
  .ecommerce-container {
    margin: 2rem 0;
    .ecommerce-image {
      width: 100%;
    }
    .content {
      .tag {
        background-color: rgba(250, 100, 35, 0.1);
        color: #fa6423;
      }
      .link-container {
        margin: 2rem auto;
        text-align: center;
      }
      .link {
        background-color: #5c5de8;
        -webkit-box-shadow: 0 6px 15px 0 rgba(29, 25, 122, 0.2);
        box-shadow: 0 6px 15px 0 rgba(29, 25, 122, 0.2);
        font-size: 18px;
        font-weight: 500;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: normal;
        padding: 14px 36px;
        -webkit-transition: all 300ms linear 0s;
        transition: all 300ms linear 0s;
        border: medium none;
        color: white;
        border-radius: 100px;
        text-decoration: none;
        margin: 2rem auto;
      }
    }
  }
}