$break-large: 991px;
$break-small: 576px;

.landing-container {
  background-repeat: no-repeat;
  padding: 0 1rem;
  .landing {
    margin-bottom: 5rem;
    .content {
      padding: 1rem 0;
      .title {
        font-size: 3rem;
        font-weight: bold;
        margin-top: 2rem;
        .highlight {
          color: #007dba;
        }
      }
      .description {
        font-size: 1rem;
        color: #737373;
        margin: 1rem 0 3rem;
        text-align: justify;
      }
      .logo {
        @media screen and (max-width: $break-small) {
          & {
            width: 50%;
          }
        }
        @media screen and (max-width: $break-large) {
          & {
            width: 50%;
          }
        }
        width: 15rem;
        margin: 4rem 0 1rem;
      }
      .button-animation {
        width: 15rem;
        padding: 2rem;
        text-align: center;
        color: white;
        background-color: black;
        background-image: linear-gradient(to left, transparent, transparent 50%, #007dba 50%, #007dba);
        background-position: 100% 0;
        background-size: 200% 100%;
        transition: all .25s ease-in;
        text-decoration: none;
        cursor: pointer;
        &:hover {
          background-position: 0 0;
        }
      }
    }
    .landing-image-container {
      @media screen and (max-width: $break-large) {
        & {
          display: none;
        }
      }
      text-align: center;
      .landing-image {
        width: 100%;
        text-align: center;
      }
    }
  }
}